*{
    margin: 0;
    padding: 0;
    border: border-box;
} 

body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100vh;
}

.container{ 
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
}

h2{
    color: #262626;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

hr{ 
    margin: 20px 0px;
}

.enter-name{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

label{
    color: #333;
}

input{
    width: 100%;
    padding: 10px;
    margin: 15px 0px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    width: 100%;
    padding: 12px;
    margin: 10px 0px;
    border-radius: 8px;
    border: none;
    background-color: #3897f0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #1a73e8;
}

.google-signin{
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.google-signin:hover{
    background-color: rgb(249, 244, 244);
}

.google-signin img{
    width: 17px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    color: #3897f0;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
}

.login:hover{
    text-decoration: underline;
}
 